<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!--
<div (mousemove)="onMouseMove($event)" >

  <div id="message-container"></div>

  <div class="container" (dblclick)="onDoubleClick($event)">
    <div class="example-box" style="color: aqua;"
      (mousedown)="onBoxMouseDown($event)" >drag me</div>
  </div>
  -->

<router-outlet></router-outlet>